{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{obra.titulo}}</title>
    <link rel="stylesheet" href="{% static 'css/universal.css' %}">
    <link rel="stylesheet" href="{% static 'css/obraSerie.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: #14181C;">
    {% include 'common/sidebarMenu.html' %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ obra.imagem }}" class="img-fluid rounded-4" alt="{{ obra.titulo }}">
            </div>

            <h1 class="text-white">{{ obra.titulo }}</h1>

            <div class="avaliacao">
                <p class="text-white">Avalie esta obra:</p>
                <form method="post" action="{% url 'obra_info' obra.id %}">
                    {% csrf_token %}
                    <div class="d-flex align-items-center">
                        <div id="estrelas" data-nota="{{ nota_usuario }}" class="me-3">
                            {% for i in "12345" %}
                                <span class="estrela" data-value="{{ forloop.counter }}">&#9734;</span>
                            {% endfor %}
                        </div>
                        <p class="text-white mb-0">
                            ({{ media_avaliacoes|default:"0.0" }})
                        </p>
                    </div>
                    <input type="hidden" name="nota" id="input-nota">
                    <button type="submit" class="btn btn-success mt-2">Salvar</button>
                </form>
            </div>
                
                <p><strong>Gênero:</strong> {{ obra.genero }}</p>
                <p><strong>Diretor:</strong> {{ obra.diretor }}</p>
                <p><strong>Data de Lançamento:</strong> {{ obra.dataLancamento|date:"d/m/Y" }}</p>
                <p><strong>Descrição:</strong> {{ obra.descricao }}</p>

                <div class="d-flex">
                    {% if obra.isDestaque %}
                        <span class="badge bg-primary me-2">Destaque</span>
                    {% endif %}
                    {% if obra.isPopular %}
                        <span class="badge bg-danger me-2">Popular</span>
                    {% endif %}
                    {% if obra.isRecente %}
                        <span class="badge bg-success">Recente</span>
                    {% endif %}
                </div>

                {% if obra is Serie %}
                    <p><strong>Quantidade de Episódios:</strong> {{ obra.qntEpisodios }}</p>
                {% endif %}

                <form action="{% url 'obra_info' id=obra.id %}" method="POST"> {% csrf_token %}
                    {% if isFavorito == False %}
                        <button class="mt-3 btn bg-black text-white" name="starFavoritar" value="{{obra.id}}">+</button>
                    {% else %}
                        <button class="mt-3 btn bg-black text-white" name="starRemover" value="{{obra.id}}">✓</button>
                    {% endif %}
                </form>
            </div>
            
            <div class="col-md-4">
                <h5 class="text-white">Trailer</h5>
            {% load youtube_filters %}
                <iframe 
                    width="426" 
                    height="240" 
                    src="{{ obra.trailer|youtube_embed }}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <hr class="my-5" style="color: white;">

        <!-- Seção de Episódios -->
        <div class="col">
            <h2 class="text-white"> Episódios</h2>
            {% for episodio in episodios %}
            <div class="row">
                <div class="card card-body bg-transparent border-0" style="width: 300px; margin: 5px;">
                    <div class="row no-gutters align-items-center"> <!-- 'no-gutters' remove o espaçamento entre as colunas -->
                        <div class="col-3"> <!-- A imagem ocupará 4 colunas (aproximadamente 1/3 da largura) -->
                            <a href="#">
                                <div class="image-container" style="position: relative; width: 100%; height: 200px;">
                                    <img src="{{ episodio.imagem }}" class="obra card-img-top rounded-4" style="width: 100%; height: 100%; object-fit: cover;" alt="...">
                                    <div class="overlay rounded-4">
                                        <img src="{% static 'fotos/icons/play.png' %}" style="scale: 10%;" alt="Play" class="play-icon">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-8"> <!-- O conteúdo do card ocupará 8 colunas (aproximadamente 2/3 da largura) -->
                            <div class="card-body">
                                <h5 class="card-title text-white">{{ forloop.counter }}. {{ episodio.titulo }}</h5>
                                <p class="card-text text-white">{{ episodio.descricao }}</p>
                                <p class="card-text text-white"><small class="text-white">{{ episodio.duracao }} minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>Não há episódios disponíveis para esta série.</p>
            {% endfor %}


        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const estrelas = document.querySelectorAll("#estrelas .estrela");
            const inputNota = document.getElementById("input-nota");
            const notaInicial = document.getElementById("estrelas").dataset.nota;

            // Preencher as estrelas com base na nota inicial
            estrelas.forEach((estrela, index) => {
                if (index < notaInicial) {
                    estrela.textContent = "★"; // Estrela cheia
                }
            });

            // Adicionar eventos de clique para atualizar a nota
            estrelas.forEach(estrela => {
                estrela.addEventListener("click", function() {
                    const nota = this.dataset.value;
                    inputNota.value = nota;

                    // Atualizar visualmente as estrelas
                    estrelas.forEach((e, index) => {
                        e.textContent = index < nota ? "★" : "☆";
                    });
                });
            });
        });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>