{% block card %}
<div class="card card-body bg-transparent border-0" style="width: 300px; margin: 5px;">
    <a href="{% url 'obra_info' id=obra.id %}">
        <div class="col-4 image-container" style="position: relative; width: 100%; height: 200px;">
            <img src="{{ obra.imagem }}" class="obra card-img-top rounded-4" style="width: 100%; height: 100%; object-fit: cover;" alt="...">
            <div class="overlay rounded-4">
                <h4 class="film-title">{{ obra.titulo }}</h4>
            </div>
        </div>
    </a>
</div>
{% endblock %}