

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
</head>

<div class="popup" id="{{obra.id}}">
    <img class="popup-image" style="background: url('{{obra.imagem}}');" src="{{ obra.imagem }}" alt="{{ obra.titulo }}">
    <div class="popup-image-backdrop" id="backdrop"></div>
    <button class="close-popup" onclick="popup('{{obra.id}}')"><img src="{% static 'fotos/icons/close.png' %}"></button>
    <div class="popup-content">
        <h5 class="popup-title">{{ obra.titulo }}</h5>
        <p><strong>{{ obra.dataLancamento }}</strong> <br> {{ obra.genero }}</p> 
        <p>{{ obra.descricao }}</p>
        <div class="d-flex justify-content-start">
            <a href="{% url 'obra_info' id=obra.id %}" class="btn me-3">ASSISTIR</a>
            <a href="{% url 'obra_info' id=obra.id %}" class="btn">INFO</a>
        </div>
    </div>
</div>

<script src="{% static 'js/popup.js' %}"></script>