{% load static %}

<button class="btn text-white mt-4" 
        style="scale: 150%; margin-left: 20px; position: relative; z-index: 1050;" 
        type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu">
    <img src="{% static 'fotos/icons/menu.png' %}" alt="Menu" style="width: 30px; height: 30px;">
</button>


<img src="{% static 'fotos/icons/logosemfundo.png' %}" alt="Logo" 
    class="position-absolute top-0 end-0 p-3 " 
    style="width: 15vh; height: 100px; z-index: 1055;">

<div class="offcanvas offcanvas-start text-white position-absolute" 
    style="background-color: #7DC7DA; z-index: 1060;" 
    tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">

    <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="list-unstyled">
            {% if request.user.is_authenticated %}
                <li><p class=" text-black d-block p-2">{{ request.user.username }}</p></li>
                <li><a href="{% url 'pesquisa_vazia' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Pesquisar</a></li>
                <br>
                <li><a href="{% url 'home' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Início</a></li>
                <li><a href="{% url 'generos' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Catálogo</a></li>
                <li><a href="{% url 'favoritos' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Salvos</a></li>
                <li><a href="{% url 'sair' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Sair</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Login</a></li>
                <li><a href="{% url 'register' %}" class="sidebarli text-black d-block p-2 text-decoration-none">Registrar</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<style>
    .sidebarli {
        transition: background-color 0.3s; 
    }
    .sidebarli:hover {
        background-color: #B0E2F3;
    }
</style>
