/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6; /* Backdrop fica atrás do popup */
    display: none;
    
}

/* Popup content */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0B0B0B;
    max-width: 120vh;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 7; 
    display: none;
    opacity: 0; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.popup-image {
    position: relative;
    width: 102%;
    height: 451px;
    left: -11px;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup-image-backdrop {
    position: fixed;
    width: 100%;
    height: 451px;
    left: 0px;

    bottom: 229px;


    background: linear-gradient(to bottom, rgba(11, 11, 11, 0) 30%, #0B0B0B 100%);
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup .popup-content {
    padding: 20px;
    color: white;
}

.popup .popup-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.popup .btn {
    color: white;
    border-color: white;
    background-color: transparent;
    margin-top: 10px;
}

.popup .btn:hover {
    background-color: white;
    color: black;
}

.close-popup {
    position: absolute;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: none;
    right: 15px;
    top: 5px;

}

.close-popup img {
    position: relative;
    width: 30px;
    height: 30px;
}