h1, h2, h3, h4, h5, h6, p {
    font-family: andale-mono, monospace; 
    color: white;
}

.obra {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: block;
}

.obra:hover {
    transform: translateY(-5px); /* Card sobe quando passa o mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px); /* Faz o card subir um pouco ao passar o mouse */
}

.image-container {
    position: relative;
    
    width: 100%;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com opacidade */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
}

.image-container:hover .overlay {
    opacity: 1;  /* Torna o overlay visível ao passar o mouse */
}

.film-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.scroll-container {
    -ms-overflow-style: none;  /* Para o IE */
    scrollbar-width: none;     /* Para o Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Oculta a barra de rolagem no Chrome/Safari */
}

.estrela {
    font-size: 30px;
    cursor: pointer;
    color: gold;
}

.avaliacao p {
    margin-bottom: 0; 
  }

  #estrelas {
    margin-top: 5px; 
  }

.estrelas span {
    font-size: 1.5rem;
    color: #ccc;
}

.estrelas span:hover,
.estrelas span.selected {
    color: #FFD700;
}
